* {
  font-size: 100%;
  margin: 0;
  padding: 0; }
  * h1 {
    color: #fafafa;
    font-family: "Open Sans", sans-serif;
    font-size: 2.5em; }

body {
  background-color: #fafafa; }

.selected {
  border: 1px solid #e8eaf6;
  padding: 0 !important; }

header {
  width: 100%;
  height: 5em;
  background-color: #3f51b5; }

header h1 {
  padding: 0.3em 0 0 1em; }

nav {
  width: 100%;
  height: 4.5em;
  background-color: #e8eaf6; }

nav li {
  float: left;
  height: 3em;
  width: 5em;
  padding: 0.5em 2em 0.5em 2em;
  color: #3f51b5;
  list-style-type: none; }
  nav li:hover {
    background-color: #3f51b5;
    color: #fafafa;
    cursor: pointer; }

#add-btn {
  height: 3rem;
  width: 3rem;
  font-size: 175%;
  background-color: #3f51b5;
  color: #fafafa;
  text-align: center;
  padding: 1rem 1.25rem 0.5rem 1rem; }
  #add-btn:hover {
    background-color: #5c6bc0; }

.main {
  width: 75%;
  min-width: 40em;
  height: 50em;
  float: left;
  background-color: #fafafa;
  padding: 3em 0 0 3em; }

#main-table {
  width: 100%;
  height: auto;
  border-collapse: collapse; }

tr {
  height: 8em;
  width: 100%; }

td, th {
  padding: 1.5em;
  width: 20%;
  height: 100%;
  border: 2px solid #e8eaf6; }

.wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden; }

tr:nth-child(even) {
  background-color: #e8eaf6; }

#config {
  width: 100%;
  height: 0;
  background-color: #212121;
  transition: height 0.4s ease-out; }

.config-window {
  height: 12em;
  width: 40%;
  float: left;
  margin: 1.5em 0 0 2em;
  border: 1px dotted #e8eaf6;
  overflow-y: scroll; }

.config-window:after {
  content: "";
  clear: both;
  display: block; }

#config-submit {
  width: 5rem;
  height: 3rem;
  float: left;
  margin: 10.5rem 0 1.5rem 1rem;
  background-color: #4caf50;
  border: 0;
  font: 110%;
  color: #e8eaf6; }
  #config-submit:hover {
    background-color: #66bb6a;
    cursor: pointer; }

.option {
  height: 4rem;
  width: 4rem;
  padding: 1px;
  background-color: #3f51b5;
  display: inline-block;
  margin: 0.5em 0em 0.5em 0.5em;
  color: #fafafa;
  text-align: center;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  line-height: 4rem;
  vertical-align: middle; }
  .option:hover {
    cursor: pointer; }

#nodeName {
  height: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 10em;
  margin: 0.5em 0 0 0.5em;
  border: 1px solid #999;
  border-radius: 5px;
  float: left; }

#inputTitle {
  display: inline-block;
  height: 3em;
  width: 100%;
  background-color: #3f51b5; }

.input input {
  height: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 15em;
  margin: 0 0 0 1em;
  border: 1px solid #999;
  border-radius: 5px; }

.node select {
  height: 2em;
  width: 15em;
  margin: 0 0 0 1em; }

.input input:focus {
  border-color: #3f51b5; }

.input input:hover {
  border-color: #3f51b5; }

.input label {
  font-size: 105%;
  font-weight: 300;
  margin: 0 0 0 1em; }

#addNode {
  height: 2em;
  width: 2em;
  float: right;
  padding: 0.5em;
  background-color: #303f9f; }

#addNode:hover {
  background-color: #3f51b5; }

.input {
  height: 2em;
  width: 100%;
  padding: 0.5em 0 0.5em 0; }

#inputArea {
  width: 20%;
  max-width: 15em;
  float: left; }

.node {
  height: 3em;
  margin: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  border-bottom: 1px dotted #3f51b5; }

.nodeTitle:hover {
  background-color: #3f51b5; }

.nodeTitle {
  padding: 1em 0 1em 0; }

.nodeTitle h1 {
  display: inline;
  margin: 0 0 0 1em; }

.nodeTitle p {
  display: inline-block;
  float: right;
  margin: 0 1em 0 0;
  font-size: 90%;
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
