$indigo:  #3f51b5
$offwhite: #fafafa
$paleindigo: #e8eaf6
$lightindigo: #5c6bc0
$darkindigo: #303f9f
$gunmetal: #212121
$green:  #4caf50
$lightgreen:  #66bb6a

*
	font-size: 100%
	margin: 0
	padding: 0

	h1
		color: $offwhite
		font-family: 'Open Sans', sans-serif
		font-size: 2.5em

body
	background-color: $offwhite

@import "header"
@import "table"
@import "config_window"

.wrapper
	width: 80%
	height: 100%
	margin: auto
	overflow: hidden
